.JokeList {
    display: flex;
    width: 80%;
    height: 80%;
}

.JokeList-sidebar {
    background: #ffeff1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
    border-radius: 0.35rem;
    box-shadow: 0px 0px 6px 3px rgb(0 0 255 / 20%);
    z-index: 2;
}

.JokeList-title {
    font-size: 4rem;
    margin: 2rem;
    color: rgba(181, 84, 242, 0.755);
    font-weight: 400;
}

.JokeList-sidebar img {
    width: 50%;
    border-radius: 50%;
    box-shadow: 0px 0px 6px 3px rgb(0 0 255 / 20%);
}

.JokeList-sidebar img:hover {
    animation-name: spin;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.JokeList-jokes {
    height: 90%;
    background: #fff;
    align-self: center;
    width: 70%;
    overflow-y: scroll;
    border-top-right-radius: 0.35rem;
    border-bottom-right-radius: 0.35rem;
    box-shadow: 0px 0px 6px 3px rgb(0 0 255 / 20%);
}

.JokeList-spinner {
    text-align: center;
    color: #fff;
}

.JokeList-getmore {
    font-size: 1.2rem;
    width: 50%;
    border-radius: 2rem;
    padding: 0.85rem 1rem;
    margin: 2rem;
    color: #faf3f4;
    font-weight: 700;
    border: rgb(216, 103, 253,1);
    box-shadow: 0px 0px 6px 3px rgb(0 0 255 / 20%);
    outline: none;
    cursor: pointer;
    transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
    background: rgb(215, 121, 246);
}

.JokeList-getmore:hover {
    /* border: 0.5px solid rgb(172, 41, 215); */
    box-shadow: 0px 0px 6px 3px rgb(193, 55, 238);
    transform: translate(-2px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(20deg);
    }
    60% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}